body {
  background-color: #EAEAEA !important;
}

.navbar-menu {
  /* background-image: linear-gradient(135deg, rgb(32,167,172) 0%, rgb(33, 138, 174) 19%, rgb(24,42,115)  69%) !important; */
  /* background-image: linear-gradient(135deg, rgb(24,42,115) 0%, rgb(33, 138, 174) 69%, rgb(32,167,172) 89%) !important; */
  background-color: #4c6272 !important;
}

/* .navbar-menu button{
  text-transform: none;
} */


.footer {
  /* background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important; */
  /* background-color: #143355; */
  background-color: #394B58;
  color: #d5d5d5;
  padding-top: 2rem;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
